In [2]:


print(True, False)
print(type(True))

True False
<class 'bool'>

In [6]:
my_str="Manjunaath S G G"
print("isalnum : ", my_str.isalnum())
print("isdigit : ", my_str.isdigit())
print("isalpha : ", my_str.isalpha())
print("istitle : ", my_str.istitle())
print("islower : ", my_str.islower())
print("isupper : ", my_str.isupper())
print("isspace : ", my_str.isspace())
print("endswith : ", my_str.endswith("D"))
print("startswith : ", my_str.startswith("D"))

isalnum :  False
isdigit :  False
isalpha :  False
istitle :  True
islower :  False
isupper :  False
isspace :  False
endswith :  False
startswith :  False

In [7]:
# List - mutable changeable ordered, mixed data type 

lst1=["Manjunaath", "S", True, 0]
print(lst1)

['Manjunaath', 'S', True, 0]

In [8]:
print(type(lst1))

<class 'list'>

In [12]:
lst1.append("200")
print(lst1)

['Manjunaath', 'S', True, 0, '100', '100', '200']

In [14]:
lst1.extend(["300", "Raj"])
print(lst1)

['Manjunaath', 'S', True, 0, '100', '100', '200', '300', 'Raj']

In [15]:
print(lst1.pop())

Raj

In [16]:
print(lst1)

['Manjunaath', 'S', True, 0, '100', '100', '200', '300']

In [17]:
print(lst1[5])

100

In [18]:
print(lst1)

print(lst1[:-1])

['Manjunaath', 'S', True, 0, '100', '100', '200', '300']
['Manjunaath', 'S', True, 0, '100', '100', '200']

In [19]:
print(lst1)
print(lst1[1:2])

['Manjunaath', 'S', True, 0, '100', '100', '200', '300']
['S']

In [23]:
print(lst1)
print(lst1[-3:])

['Manjunaath', 'S', True, 0, '100', '100', '200', '300']
['100', '200', '300']

In [24]:
print(lst1[1:2:2])

['S']

In [28]:
lst1.insert(3, "Shruthi")
print(lst1)

['Manjunaath', 'S', True, 'Shruthi', 0, '100', '100', '200', '300']

In [31]:
lst1.append("test")
print("Appending test : ",lst1)

Appending test ['Manjunaath', 'S', True, 'Shruthi', 0, '100', '100', '200', '300', 'test', 'test']

In [30]:
lst2=[100,101,-103,104]
print("Maximum : ",max(lst2))

print("Minimum : ", min(lst2))

Maximum :  104
Minimum :  -103

In [32]:
# Sets : unordered collection of data, iterable, mutable, no duplicates are allowed

set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [33]:
set_var=("A", "Ball", 10)
print(set_var)

('A', 'Ball', 10)

In [39]:
set_var={"A", "Ball", 10}
set_var.add("testelement")
print(set_var)

{'testelement', 10, 'Ball', 'A'}

In [46]:
set_var1={"A", "Ball", 10}
set_var2={"A", "Ball", 20, 10}
print("Difference : ", set_var2.difference(set_var1))
print("Difference Update : ", set_var1.difference_update(set_var2))
print("Intersection : ", set_var2.intersection(set_var1))

Difference :  {20}
Difference Update :  None
Intersection :  set()

In [47]:
# Dictionary : Key-Value pair, unordered, indexed, changeble
dict={}
print(dict)
print(type(dict))

{}
<class 'dict'>

In [48]:
my_dict={"A": "Apple", "B": "Ball", "C": "Cat"}

print(my_dict)

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat'}

In [52]:
for x in my_dict:
    print(x)
    

for x in my_dict.keys():
    print("Keys: ", x)
    

for x in my_dict.values():
    print("Values: ", x)    
    

for x in my_dict.items():
    print("Items: ", x)

A
B
C
Keys:  A
Keys:  B
Keys:  C
Values:  Apple
Values:  Ball
Values:  Cat
Items:  ('A', 'Apple')
Items:  ('B', 'Ball')
Items:  ('C', 'Cat')

In [55]:
my_dict={"A": "Apple", "B": "Ball", "C": "Cat"}
print(my_dict)

my_dict["D"]="Dog"
print(my_dict)

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat'}
{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog'}

In [63]:
# Nested Dictionary

car1={"A", "2000"}
car2={"B", "3000"}
car3={"C", "4000"}

car_type={"car1": car1, "car2": car2, "car3": car3}
print(car_type)

print(car_type["car1"])

{'car1': {'2000', 'A'}, 'car2': {'B', '3000'}, 'car3': {'C', '4000'}}
{'2000', 'A'}

In [66]:
# Tuples : not mutable, cannot change the element

my_tuple=()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

In [67]:
my_tuple=("A", "B", "C")
my_tuple[0]

'A'

In [68]:
my_tuple.count('A')

1

In [70]:
my_tuple.index('C')

2